@using IdentityServer4.Extensions
@using Microsoft.Extensions.Configuration
@using CDR.DataHolder.IdentityServer.Extensions
@inject IConfiguration _config

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="@_config.EnsurePath("/")" class="navbar-brand">
            <img src="@_config.EnsurePath("/icon.png")" class="icon-banner" alt="logo">
            IdentityServer4
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <strong class="caret"></strong></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>
            </ul>
        }
    </nav>
</div>