@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="pb-4 text-center">
	<h6 class="pb-3">Error Page</h6>
	<div class="alert alert-danger">
		Sorry, there was an error

		@if (error != null)
		{
			<strong>
				<em>
					: @error
				</em>
			</strong>

			if (errorDescription != null)
			{
				<div>@errorDescription</div>
			}
		}
	</div>

	@if (request_id != null)
	{
		<div class="small">Request Id: @request_id</div>
	}
</div>
