<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <EnvironmentVariables>
    <!-- List of environment variables we want to set as element and its value-->
    <ASPNETCORE_ENVIRONMENT>Pipeline</ASPNETCORE_ENVIRONMENT>
  </EnvironmentVariables>

  <!-- <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
            <Verbosity>quiet</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>dataholder-integrationtests.trx</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFileName>dataholder-integrationtests.html</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings> -->
</RunSettings>