# Docker compose for build pipeline

services:
  mock-data-holder-unit-tests:
    container_name: mock-data-holder-unit-tests
    image: mock-data-holder-unit-tests
    build:
      context: ..
      dockerfile: Dockerfile.unit-tests
      args:
        FEED_URI: ${FEED_URI}
        FEED_ACCESSTOKEN: ${FEED_ACCESSTOKEN}
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
    volumes:
      - "./_temp/mock-data-holder-unit-tests/testresults:/testresults"
    depends_on:
      mssql:
        condition: service_healthy

  mssql:
    container_name: sql1
    image: 'mcr.microsoft.com/mssql/server:2022-latest'
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Pa{}w0rd2019
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S . -U sa -P "Pa{}w0rd2019" -Q "SELECT 1" -No || exit 1 
      timeout: 10s
      interval: 10s
      retries: 10    
